
/**************************************************************

	Accordion Image Menu Plugin	V 3.0

**************************************************************/
.aim {
	position: relative;		
	overflow: hidden;
	margin:0 auto;
}

.aim a {
	background-color:#333333;	
	background-repeat: no-repeat;
	background-position: center center;		
	cursor:pointer;
	display:block;
	overflow:hidden;
	font-size:12px;	
	position:relative;
	font-weight:bold;
	float:left;
	text-decoration:none;		
}

.aim a:hover, #imageMenu ul li a:visited{
	text-decoration:none;
}

.aim_title{
	left:0;
	position:relative;
	top:0;
	display:block;
	padding:5px;
	color:#FFFFFF;	
}

.aim_title_bg{
	background:#000000;
	opacity:0.7;
	filter:alpha(opacity=70);
}